<ion-view>
  <ion-nav-bar class="bar-huatek">
    <ion-header-bar class="bar-huatek">
      <ion-nav-back-button>
        <i class="icon_back goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>详情</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content>

      <div class="ui-form-td bg-f b-td">
        <div class="ui-form-item b-d">
          <div>车牌号</div>
          <p>沪A 12345</p>
        </div>
        <div class="ui-form-item b-d">
          <div>车架号</div>
          <p>LEXJDI154JD454WS4</p>
        </div>
        <div class="ui-form-item b-d">
          <div>挂车牌</div>
          <p>沪C 23456</p>
        </div>
        <div class="ui-form-item b-d">
          <div>车架号</div>
          <p>LEXJDI154JD454WS4</p>
        </div>
        <div class="ui-form-item b-d">
          <div>发动机</div>
          <p>1578425w</p>
        </div>
        <div class="ui-form-item b-d">
          <div>状态</div>
          <p>解禁</p>
        </div>
        <div class="ui-form-item b-d">
          <div>禁用时间</div>
          <p>2015/4/28</p>
        </div>
        <div class="ui-form-item b-d">
          <div>禁用机构</div>
          <p>上海</p>
        </div>
        <div class="ui-form-item b-d">
          <div>禁用者</div>
          <p>李某</p>
        </div>
        <div class="ui-form-item b-d">
          <div>解禁日期</div>
          <p>2015/5/28</p>
        </div>
        <div class="ui-form-item b-d">
          <div>解禁机构</div>
          <p>无锡</p>
        </div>
        <div class="ui-form-item b-d">
          <div>解禁者</div>
          <p>刘某</p>
        </div><div class="ui-form-item">
        <div>描述</div>
        <p>车主已换人，所以解禁</p>
      </div>
      </div>
  </ion-content>
</ion-view>
