<ion-view>
  <ion-nav-bar class="bar-huatek">
    <ion-header-bar class="bar-huatek">
      <ion-nav-back-button>
        <i class="icon_back goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>详情</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content class="bg-f">
    <div class="ui-form-td b-td">
      <div class="ui-form-item b-d">
        <div>发车序号</div>
        <p>L1234561234567890</p>
      </div>
      <div class="ui-form-item b-d">
        <div>车牌号</div>
        <p>苏BR1234</p>
      </div>
      <div class="ui-form-item b-d">
        <div>拍照人</div>
        <p>李某某</p>
      </div>
      <div class="ui-form-item b-d">
        <div>拍照机构</div>
        <p>无锡</p>
      </div>
      <div class="ui-form-item">
        <div>运行路线</div>
        <p>无锡-上海-广州  </p>
      </div>
    </div>

    <div class="loadingQuality_uploadPic">
      <ul>
        <li>
          <div class="login_bg_img loadingQuality_uploadPic_1"></div>
          <p class="savePic">存储</p>
          <i class="icon pic_camera_pos pic_camera_icon"></i>
        </li>
        <li>
          <div class="login_bg_img loadingQuality_uploadPic_2"></div>
          <p class="savePic">存储</p>
          <i class="icon pic_camera_pos pic_camera_icon"></i>
        </li>
        <li>
          <div class="login_bg_img loadingQuality_uploadPic_3"></div>
          <p class="savePic">存储</p>
          <i class="icon pic_camera_pos pic_camera_icon"></i>
        </li>
        <li>
          <div class="login_bg_img loadingQuality_uploadPic_4"></div>
          <p class="savePic">存储</p>
          <i class="icon pic_camera_pos pic_camera_icon"></i>
        </li>
      </ul>
    </div>


  </ion-content>
</ion-view>
