<ion-view>
  <ion-nav-bar class="bar-huatek">
    <ion-header-bar class="bar-huatek">
      <ion-nav-back-button>
        <i class="icon_back goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>办理托运</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content class="has-header has-footer">
    <div class="details">运单信息</div>
    <div class="ui-form-td bg-f b-td">
      <div class="ui-form-item b-d">
        <div>运单号</div>
        <p>1234567890</p>
        <span class="customSel_pos">
          <i class="icon custom_sel"></i>
          <span class="p-l-5 p-r-5">客户自发</span>
        </span>
      </div>
      <div class="ui-form-item b-d">
        <div>客户编码</div>
        <p>11008866</p>
      </div>
      <div class="ui-form-item b-d">
        <div>客户等级</div>
        <p>501243</p>
      </div>
      <div class="ui-form-item b-d">
        <div>到站</div>
        <p>西安</p>
      </div>
      <div class="ui-form-item">
        <div>到站办事处</div>
        <p>西安雁塔区  </p>
      </div>
    </div>

    <div class="details">发货人信息</div>
    <div class="ui-form-td bg-f b-td" id="search_parmas">
      <div class="ui-form-item b-d">
        <label>姓名</label>
        <input type="text" ng-model="user.username" placeholder="请输入姓名">
      </div>
      <div class="ui-form-item b-d">
        <label>手机号</label>
        <input type="text" ng-model="user.phone" placeholder="请输入手机号码">
      </div>
      <div class="ui-form-item b-d">
        <label>固定号码</label>
        <input type="text" ng-model="user.tel" placeholder="请填写电话">
      </div>
      <div class="ui-form-item b-d">
        <label>公司名称</label>
        <input type="text" ng-model="user.company" placeholder="请填写公司名称">
      </div>
      <div class="ui-form-item b-d">
        <label>账户名称</label>
        <input type="text" ng-model="user.name" placeholder="请填写账户名称">
      </div>
      <div class="ui-form-item b-d">
        <label>账号</label>
        <input type="text" ng-model="user.userNo" placeholder="请填写账号">
      </div>
      <div class="ui-form-item b-d">
        <label>开户银行</label>
        <input type="text" ng-model="user.userBank"  placeholder="请填写开户银行全称">
      </div>
      <div class="ui-form-item">
        <label>开户地址</label>
        <!--<input type="text" ng-model="user.userAddress" placeholder="请选择省市区">-->
        <ionic-city-picker class="cityPicker" backdrop=true backdrop-click-to-close=false options='vm.CityPickData2' id="selectCity"></ionic-city-picker>
      </div>
      <div class="ui-form-item">
        <label>开户地址</label>
        <hms-pct-select ng-transclude></hms-pct-select>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
    <button type="button" class="button-b" ng-click="goConsignUser()">提交</button>
  </ion-footer-bar>
</ion-view>
