<ion-view>
  <ion-nav-bar class="bar-huatek">
    <ion-header-bar class="bar-huatek">
      <ion-nav-back-button>
        <i class="icon_back goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>办理提货</ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button title-search-icon" ng-click="goSearchHistory()">
          <i class="icon title-search"></i>
        </button>
        </ion-nav-buttons>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content class="handleDelivery_content">
    <ion-tabs class="tabs-positive tabs-striped tabs-top ">
      <ion-tab title="提货" class="search_tab">
        <ion-view>
          <ion-content class="handleDelivery_tab_content">
            <div class="searchList">
              <ul>
                <li ng-repeat="data in deliveryData" ng-class="{'leave-status':data.flag == 0,'':data.flag != 0}">
                  <div class="searchItem">
                    <div>
                      <p>订单号：{{data.order}}</p>
                      <p>
                        <i class="icon sendAddress_icon m-r-10"></i>
                        {{data.address}}</p>
                    </div>
                    <div>
                      <p>货号：{{data.goodsNo}}</p>
                    </div>
                    <div>
                      <p>收货人：{{data.receipter}}</p>
                    </div>
                  </div>
                  <div ng-if="data.flag == 0" class="StatusMark">
                    <i class="status_icon alreayDelivery "></i>
                  </div>
                  <div ng-if="data.flag == 1" class="handleDelivery_icon">
                    <i  class="status_icon delivery"></i>
                  </div>
                </li>
              </ul>
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab title="审签" class="search_tab">
        <ion-view>
          <ion-content class="handleDelivery_tab_content">
            <div class="searchList">
              <ul>
                <li ng-repeat="data in deliveryData" ng-class="{'leave-status':data.flag == 0,'':data.flag != 0}">
                  <div class="searchItem">
                    <div>
                      <p>订单号：{{data.order}}</p>
                      <p>
                        <i class="icon sendAddress_icon m-r-10"></i>
                        {{data.address}}</p>
                    </div>
                    <div>
                      <p>货号：{{data.goodsNo}}</p>
                    </div>
                    <div>
                      <p>收货人：{{data.receipter}}</p>
                    </div>
                  </div>
                  <div ng-if="data.flag == 0" class="StatusMark">
                    <i class="status_icon alreaySigned"></i>
                  </div>
                  <div ng-if="data.flag == 1" class="handleDelivery_icon">
                    <i  class="status_icon signed"></i>
                  </div>
                </li>
              </ul>
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>
    </ion-tabs>

  </ion-content>
</ion-view>
