<ion-view>
  <ion-nav-bar class="bar-huatek">
    <ion-header-bar class="bar-huatek">
      <ion-nav-back-button>
        <i class="icon_back goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>员工管理</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
<ion-content>
        <div class="employeeInfo">
            <div class="details">详情</div>
            <div class="ui-form-td bg-f b-td">
                <div class="ui-form-item ui-form-item-link b-d">
                    <div>姓名</div>
                    <p>张三</p>
                </div>
                <div class="ui-form-item b-d">
                    <div>性别</div>
                    <p>男</p>
                </div>
                <div class="ui-form-item b-d">
                    <div>编号</div>
                    <p>501243</p>
                </div>
                <div class="ui-form-item b-d">
                    <div>职务</div>
                    <p>电脑主管</p>
                </div>
                <div class="ui-form-item b-d">
                    <div>所属公司</div>
                    <p>无锡</p>
                </div>
                <div class="ui-form-item">
                    <div>任职机构</div>
                    <p>无锡</p>
                </div>
            </div>
        </div>

        <div class="ui-form">
            <div class="details">修改密码</div>
            <div class="ui-form-td bg-f b-td">
                <div class="ui-form-item b-d">
                    <label>输入新密码</label>
                    <input type="text" value="" placeholder="请输入新密码">
                </div>
                <div class="ui-form-item">
                    <label>确认新密码</label>
                    <input type="text" value="" placeholder="请确认新密码">
                </div>
            </div>
        </div>
</ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
    <button type="button" class="button-b">确认</button>
  </ion-footer-bar>
</ion-view>
