<ion-view>
  <ion-nav-bar class="bar-huatek">
    <ion-header-bar class="bar-huatek">
      <ion-nav-back-button>
        <i class="icon_back goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>签单扫描</ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button title-search-icon" ng-click="uploadImg()">
          <i class="icon signScan_camera"></i>
        </button>
      </ion-nav-buttons>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content scrollbar-y="false" on-scroll="scrollListen()"  delegate-handle="businessList">
    <div class="searchBox">
      <input type="text" placeholder="请输入单号">
      <i class="icon search"></i>
    </div>
    <div class="search_num">检索到5条信息</div>
    <div class="signScanList bg-f">
      <ul>
        <li ng-repeat="data in signScanCtrlData">
          <div class="signScan_item b-d">
            <div class="order_status p-td-5">
              <p>运单号：{{data.order}}</p>
              <p style="color:#bfbfbf;">{{data.status}}</p>
            </div>
            <div class="signScan_tel p-td-5">
              <i class="icon signScan_phone p-d-10"></i>
              <p>{{data.phone}}</p>
            </div>

            <div class="row nav-list">
              <div class="col col-25">
                <!--<i class="showImg uploadPic_1" ng-click="shouBigImage('{{imgUrl+shop.Images[0]}}')"></i>-->
               <!-- <div class="showImg" ng-style="{'background':'url('+('img/signScan/uploadPic_1.png')+')'}" ng-click="shouBigImage('img/signScan/uploadPic_1.png')">-->
                <div class="showImg" ng-style="{'background':'url('+('img/signScan/uploadPic_1.png')+')'}" ng-click="shouBigImage('img/signScan/uploadPic_1.png')">
                </div>
              </div>
              <div  class="col col-25 ">
                <div class="showImg" ng-style="{'background':'url('+('img/signScan/uploadPic_2.png')+')'}" ng-click="shouBigImage('img/signScan/uploadPic_2.png')">
                </div>
              </div>
              <div  class="col col-25 ">
                <div class="showImg" ng-style="{'background':'url('+('img/signScan/uploadPic_3.png')+')'}" ng-click="shouBigImage('img/signScan/uploadPic_3.png')">
                </div>
              </div>
              <div  class="col col-25">
                <div class="showImg" ng-style="{'background':'url('+('img/signScan/uploadPic_4.png')+')'}" ng-click="shouBigImage('img/signScan/uploadPic_4.png')">
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>


  <script id="bigImg.html" type="text/ng-template">
    <ion-modal-view>
      <ion-content class="bigImg_content" ng-click="closeModal()">
        <img class="showBigImg_pop" src="{{Url}}"/>
      </ion-content>
    </ion-modal-view>
  </script>

 <!-- <script id="uploadPic.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-huatek-modal">
        <a class="button close-modal-icon" ng-click="closeModal()">
          <i class="icon closeModalDialog"></i>
        </a>
        <h1 class="title">上传</h1>
        <a class="button close-modal-icon" ng-click="closeModal()">
          <i class="icon modelTitleScan"></i>
        </a>
      </ion-header-bar>
      <ion-content>
        <div>
          <div class="ui-form-item b-d">
            <label>运单号</label>
            <input type="text" ng-model="newQuery.orderId" placeholder="请输入要查询的运单号">
          </div>
          <div class="ui-form-item b-d">
            <label>电话号码</label>
            <input type="text" ng-model="newQuery.phoneNum" placeholder="请输入要查询的电话号码">
          </div>
          <div class="ui-form-item b-d">
            <label>签单类型</label>
            <input type="text" ng-model="newQuery.signType" placeholder="请输入要查询的签单类型">
          </div>
          <div class="uplaodContent">
            <ul>
              <li>
                <div class="uploadText_item b-a" data-ng-click="picture()">
                  <i class="icon modelUpload"></i>
                </div>
              </li>
              <li>
                <div class="uploadText_item b-a-d">
                  <i class="icon uplaodCross"></i>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-td-35 t-c">
            <button type="button" class="button-s" ng-click="upload(newQuery)">上传</button>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>-->

</ion-view>


