<ion-view>
  <ion-nav-bar class="bar-huatek">
    <ion-header-bar class="bar-huatek">
      <ion-nav-back-button>
        <i class="icon_back goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>网点查询</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content>
    <div>
      <div class="details">详情</div>
      <div class="ui-form-td bg-f b-td">
        <div class="ui-form-item b-d">
          <div>公司名称</div>
          <p>上海佳吉快（徐泾办）</p>
        </div>
        <div class="ui-form-item b-d">
          <div>所在城市</div>
          <p>上海</p>
        </div>
        <div class="ui-form-item b-d">
          <div>详细地址</div>
          <p>上海北清公路2999路</p>
          <span class="website_local">
            <i class="icon location"></i>
          </span>

        </div>
        <div class="ui-form-item b-d">
          <div>负责人</div>
          <p>张三</p>
        </div>
        <div class="ui-form-item b-d">
          <div>手机号码</div>
          <p class="imp_info">18392021678</p>
        </div>
        <div class="ui-form-item b-d">
          <div>查询电话</div>
          <p class="imp_info">18392021678</p>
        </div>
        <div class="ui-form-item b-d">
          <div>发货电话</div>
          <p class="imp_info">18392021678-5602</p>
        </div>
        <div class="ui-form-item">
          <div>传真号码</div>
          <p class="imp_info">18392021678-5602</p>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
    <div class="footer_tips">
      <p>提醒：您可以拨打400-820-5566免费查询</p>
    </div>
  </ion-footer-bar>
</ion-view>
