<ion-view>
  <ion-nav-bar class="bar-huatek">
    <ion-header-bar class="bar-huatek">
      <ion-nav-back-button>
        <i class="icon_back goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>员工管理</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content>
    <div class="searchBox">
      <input type="text" placeholder="请输入运单号、货物编号、收发货物、电话">
      <i class="icon search"></i>
    </div>
    <div class="search_num">检索到5条信息</div>
    <div class="searchList">
      <ul>
        <li ng-click="goEmployeeDetails()" ng-repeat="data in employeeData" ng-class="{'leave-status':data.flag == 0,'':data.flag != 0}">
          <div class="searchItem employeeManage_item">
            <div>
              <p>{{data.name}}</p>
              <p>{{data.no}}</p>
            </div>
            <div>
              <p>性别：{{data.sex}}</p>
              <p>职务：{{data.post}}</p>
            </div>
            <div>
              <p>任职机构：{{data.organization}}</p>
            </div>
          </div>
          <div class="StatusMark">
            <i ng-if="data.flag ==1" class="status_icon holiday_flag"></i>
            <i ng-if="data.flag ==0" class="status_icon leave_flag"></i>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>


